@import-normalize;
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "PANGRAM";
    src: url("../public/fonts/PPPangramSansRounded-Semibold.otf");
}

@layer base{
    html{
        overflow-x: hidden;
        @apply w-screen h-screen
    }
    body{
        @apply w-full h-full
    }
    textarea{
        resize:none;
        width:85%;
    }
    .root{
        @apply m-0 p-0
    }

    label{
       @apply inline-block box-content;
    }
}
@layer base {
    main{
        background: linear-gradient(179.94deg, rgba(10, 106, 191, 0.8) 0.05%, rgba(242, 34, 89, 0.8) 69.41%, rgba(242, 92, 5, 0.8) 120.57%), #FFFFFF;
        height: 82.6vh;
    }
}

@layer components{
    .root{
        overflow:hidden;
        background: linear-gradient(179.94deg, rgba(10, 106, 191, 0.8) 0.05%, rgba(242, 34, 89, 0.8) 69.41%, rgba(242, 92, 5, 0.8) 120.57%), #FFFFFF;
        height:100vh
    }
    .signup{
        @apply placeholder-greyPlaceholder;
        background-color:#fff;
        border-radius:10px;
        overflow-y:auto;
        overflow-x:hidden;
        height:80vh;
        padding: 9px;
    }
    .login{
        @apply placeholder-greyPlaceholder;
        background-color:#fff;
        border-radius:10px;
        overflow-y:auto;
        overflow-x:hidden;
        height: auto;
        padding: 9px;
    }

    .signup-p{
        font-size:20px;
        font-weight:400px;
        line-height:24px;
        text-align:right;
        @apply text-blueCustom;
        letter-spacing:-0.25px
    }

    .signup-p-birth{
        font-size:15px;
        line-height:18px;

    }

    .signup-title{
        font-size:24px;
        line-height: 28,8px;
        text-align:right;
        @apply text-blueCustom;
        font-weight:400px;
        margin: 14px 0 35px; 
    }

    .textInput{
        @apply text-blueCustom pr-2 focus:outline-blueCustom placeholder-greyPlaceholder;
        height:36px;
        width:85%;
        radius:3px;
        background-color: #E9E9E9;
        margin-bottom: 10px;
        text-align:right;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
    }
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  @apply  focus:outline-blueCustom;
  -webkit-text-fill-color: rgba(10, 106, 191, 0.8);
  transition: background-color #E9E9E9;
}


    .borderCustom{
        @apply border-blueCustom rounded-full border w-10 h-10;
        font-size: 2rem;
        text-align:center;
        margin:2rem;
        padding:2px;
        box-sizing: content-box;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .tag{
        @apply w-[140px] h-[40px] bg-blueCustom rounded-full text-white flex justify-center items-center;
    }
    .tag-button{
        background: linear-gradient(176.59deg, #F22259 -83.57%, #0A6ABF 258.62%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    }
    .date::-webkit-calendar-picker-indicator{
       filter:invert(64.7%)
    }
    .date{
        @apply placeholder-greyPlaceholder;
    }
}

.test{
    color:#0a69bd
}