@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    main{
        background: linear-gradient(179.94deg, rgba(10, 106, 191, 0.8) 0.05%, rgba(242, 34, 89, 0.8) 69.41%, rgba(242, 92, 5, 0.8) 120.57%), #FFFFFF;
        height:90vh
    }
}

@layer components{
    .root{
        overflow:hidden
    }
    .signup{
        @apply bg-whiteCustom;
        margin:12px;
        border-radius:10px;
        width:calc(100% - 24px);
        overflow-y:auto;
        overflow-x:hidden;
        height:80vh;
        padding:0 9px;
    }

    .signup-p{
        font-size:20px;
        font-weight:400px;
        line-height:24px;
        text-align:right;
        @apply text-blueCustom;
    }

    .signup-p-birth{
        font-size:15px;
        line-height:18px;

    }

    .signup-title{
        font-size:24px;
        line-height: 28,8px;
        text-align:right;
        @apply text-blueCustom;
        font-weight:400px;
        margin: 14px 0 35px; 
    }

    .textInput{
        height:36px;
        width:85%;
        radius:3px;
        background-color: #E9E9E9;
        margin-bottom: 10px;
        text-align:right;
        color: #A5A5A5;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
    }

    .addSport{
        @apply rounded-full;
        @apply border-blueCustom;

    }
}
